<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="PhotoFileMapper">

  <resultMap type="PhotoFile" id="PhotoFileMap">
    <id column="photo_file_id"   property="no"/>
    <result column="file_path"  property="filepath"/>
    <result column="photo_id"  property="boardNo"/>
  </resultMap>
    
  <insert id="insertPhotoFile" parameterType="PhotoFile">
    insert into lms_photo_file(photo_id,file_path) 
    values(#{boardNo}, #{filepath})
  </insert>
  
  <select id="selectPhotoFile" resultMap="PhotoFileMap" parameterType="int">
    select 
      photo_file_id, 
      photo_id, 
      file_path
    from 
      lms_photo_file
    where 
      photo_id=#{boardNo}
    order by 
      photo_file_id asc
  </select>

  <delete id="deletePhotoFile" parameterType="int">
    delete from lms_photo_file
    where photo_id=#{boardNo}
  </delete>
</mapper>







