@charset "UTF-8";

body {
  background-color: LightGray;
}

#side {
	/* border: 1px solid red; */
	float: left;
}

#content {
	/* border: 1px solid blue; */
	margin-left: 200px;
	padding: 10px;
}
div.container {
  background: white;
  border: 1px solid gray;
  width: 900px;
}
footer {
  margin-top: 20px;
  padding: 10px;
  background-color: navy;
  color: white;
  text-align: center;
}