<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="PhotoBoardMapper">

  <resultMap type="PhotoBoard" id="PhotoBoardMap">
    <id column="photo_id"   property="no"/>
    <result column="titl"  property="title"/>
    <result column="cdt"  property="createdDate"/>
    <result column="vw_cnt"    property="viewCount"/>
    
    <association property="lesson" javaType="Lesson">
      <id column="lesson_id"   property="no"/>
      <result column="lesson_titl"  property="title"/>
    </association>
    
    <collection property="files" ofType="PhotoFile">
      <id column="photo_file_id"   property="no"/>
      <result column="file_path"  property="filepath"/>
    </collection>
  </resultMap>
    
  <insert id="insertPhotoBoard" parameterType="PhotoBoard"
    useGeneratedKeys="true" keyColumn="photo_id" keyProperty="no">
    insert into lms_photo(titl,lesson_id) 
    values(#{title}, #{lesson.no})
  </insert>
  
  <select id="selectPhotoBoard" resultMap="PhotoBoardMap" parameterType="int">
    select 
      photo_id, 
      titl, 
      cdt, 
      vw_cnt
    from lms_photo
    where 
      lesson_id=#{no}
    order by 
      photo_id desc
  </select>

  <select id="selectDetail" resultMap="PhotoBoardMap" parameterType="int">
    select
      p.photo_id,
      p.titl,
      p.cdt,
      p.vw_cnt,
      l.lesson_id,
      l.titl lesson_titl,
      f.photo_file_id,
      f.file_path
    from lms_photo p
      inner join lms_lesson l on p.lesson_id=l.lesson_id
      left outer join lms_photo_file f on p.photo_id=f.photo_id
    where 
      p.photo_id=#{no}
  </select>
  
  <update id="updatePhotoBoard" parameterType="PhotoBoard">
    update lms_photo set
      titl=#{title}
    where photo_id=#{no}
  </update>
  
  <delete id="deletePhotoBoard" parameterType="int">
    delete from lms_photo
    where photo_id=#{no}
  </delete>
</mapper>







