<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ProjectDao">
  
  <resultMap type="com.eomcs.pms.domain.Project" id="ProjectMap">
    <id column="no"           property="no"/>
    <result column="title"    property="title"/>
    <result column="content"  property="content"/>
    <result column="sdt"      property="startDate"/>
    <result column="edt"      property="endDate"/>
    
    <association property="owner" javaType="com.eomcs.pms.domain.Member">
	    <id column="owner_no"          property="no"/>
	    <result column="owner_name"    property="name"/>
    </association>
    
    <collection property="members" ofType="com.eomcs.pms.domain.Member">
      <id column="member_no"          property="no"/>
      <result column="member_name"    property="name"/>
    </collection>
  </resultMap>

  <select id="findAll" resultMap="ProjectMap">
    select 
      p.no, 
      p.title, 
      p.sdt, 
      p.edt, 
      m.no owner_no, 
      m.name owner_name,
      mp.member_no,
      m2.name member_name
    from 
      pms_project p 
      inner join pms_member m on p.owner=m.no
      left outer join pms_member_project mp on p.no=mp.project_no
      left outer join pms_member m2 on mp.member_no=m2.no
    order by p.no desc
  </select>
  
  <insert id="insert" parameterType="com.eomcs.pms.domain.Project"
          useGeneratedKeys="true" keyColumn="no" keyProperty="no">
    insert into pms_project(title,content,sdt,edt,owner)
    values(#{title},#{content},#{startDate},#{endDate},#{owner.no})
  </insert>
  
  <insert id="insertMember" parameterType="java.util.Map">
    insert into pms_member_project(member_no, project_no) 
    values(#{memberNo},#{projectNo})
  </insert>
  
  <delete id="deleteMembers" parameterType="java.lang.Integer">
    delete from pms_member_project 
    where project_no=#{no}
  </delete>
  
  <select id="findByNo" resultMap="ProjectMap" parameterType="java.lang.Integer">
    select 
      p.no, 
      p.title,
      p.content, 
      p.sdt, 
      p.edt, 
      m.no owner_no, 
      m.name owner_name,
      mp.member_no,
      m2.name member_name
    from 
      pms_project p 
      inner join pms_member m on p.owner=m.no
      left outer join pms_member_project mp on p.no=mp.project_no
      left outer join pms_member m2 on mp.member_no=m2.no
    where 
      p.no = #{no}
  </select>
  
  <update id="update" parameterType="com.eomcs.pms.domain.Project">
    update pms_project set
      title = #{title},
      content = #{content},
      sdt = #{startDate},
      edt = #{endDate},
      owner = #{owner.no}
    where no = #{no}
  </update>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from pms_project
    where no=#{no}
  </delete>

</mapper>






